
/* Fontes google */
.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
.exo-2{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
  }
  .barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
/* INICIO DA SEÇÃO DE CSS */
body{
    max-width: 900px;
    display: flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    background-color: rgb(255, 255, 255);
    margin: 5px;
    width: 150px;
    padding: 5px;
    outline: none;
    height: 25px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.349);
}
button{
    background-color: #2975d8;
    color: aliceblue;
    height: 100px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
    cursor: pointer;
    border: transparent;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #5195ec;
    width: 0%;
    left: 0;
    height: 100%;
    border-radius: 10px;
    z-index: -2;
    border: transparent;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

}
button:hover{
    color:rgb(0, 18, 77);
}
 button:hover::before {
   width: 100%;
}



h2{
    font-family: "Exo 2", sans-serif;
    text-align: center;
}
.box{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}
.grid__imc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    border-radius: 20px;
    background-image: linear-gradient(90deg , #82cbfc98, #fff5e6);
    border: 1px solid #d2fafa;
    height: 250px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}   
p{
    line-height: 150%;
    font-family: "Barlow", sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.39);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}
h1{
    font-family: "Exo 2", sans-serif;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.conteiner{
    display: flex;
    flex-direction: row;
}
span{
    position: absolute;
   left: 0;
   pointer-events: none;
   margin: 5px;
   margin-left: 10px;
   padding: 5px;
   transition: all 0.5s ease;
   color: rgba(0, 0, 0, 0.356);
   text-align: center;
   text-transform: uppercase;
   font-family: "Barlow", sans-serif;
}
input:valid ~ span,
input:focus ~ span {
    color: rgb(0, 108, 170);
    transform: translateX(10px) translateY(-20px);
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0.151);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    height: 17px;
    width: 80px;
    padding: 0;
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
}
.placeholder{
    position: absolute;
    pointer-events: none;
    color: #2975d8;
    font-weight: 600;
    left: 120px;
    text-transform: lowercase;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imc-result {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .imc-result.show {
    max-height: 500px; /* Ajuste conforme necessário */
 
  }